.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.activities-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  app-activity-export {
    flex: 1 1 350px;
    max-width: 400px;
  }
}
