<div class="grid">
  <div class="card grid grid-cols-2 items-center gap-4 m-5 bg-white dark:bg-zinc-800">
    <div class="flex justify-start">
      <h1 class="m-5 text-zinc-800 dark:text-white">{{ 'app.title' | translate }}</h1>
    </div>

    <div class="flex justify-end m-5">
      <button class="cursor-pointer text-zinc-800 dark:text-white" (click)="toggleTheme()">
        {{ 'app.mode' | translate }}
      </button>
      <button class="cursor-pointer text-zinc-800 dark:text-white mx-3" (click)="toggleLang()">
        {{ 'app.lang' | translate }}
      </button>

      @if (!profile) {
      <button class="cursor-pointer text-zinc-800 dark:text-white" (click)="connectStrava()">
        Conectar con Strava
      </button>
      } @if (profile) {
      <button class="cursor-pointer text-zinc-800 dark:text-white" (click)="logout()">
        Cerrar sesión
      </button>
      }
    </div>
  </div>
</div>
@if (profile) {
<div>
  <div class="profile-container">
    <h3>Bienvenido {{ profile.firstname }} {{ profile.lastname }}</h3>
    <img [src]="profile.profile" alt="profile" width="80" height="80" />

    <h4>Últimas actividades:</h4>
  </div>

  <div class="activities-flex">
    @for (act of activities; track act.id) { @if (act.map?.summary_polyline) {
    <app-activity-export [activity]="act" [polylineData]="act.map.summary_polyline">
    </app-activity-export>
    } }
  </div>
</div>
}

<router-outlet></router-outlet>
